@model Parlem.Web.ViewModels.Clients.ClientViewModel

@{
    this.ViewData["Title"] = "Clients";
}

<h1>@this.ViewData["Title"]</h1>

<div>@Model.GivenName</div>
<div>@Model.FamilyName1</div>
<div>@Model.Document.DocNum</div>
